<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="tests">
    <listeners>
        <listener class-name="utilities.ExtentReportManager" />
    </listeners>

    <test name="Test">
        <parameter name="browser" value="chrome" />
        <classes>
            <!-- Uncomment or add additional test classes as needed -->
            <class name="testCaces.TC2_loginTest" />
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
